@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
  background-color: white;
  color: #0f172a;
  transition:
    background-color 0.35s ease,
    color 0.35s ease;
}

/* Mode sombre sur body */
html.dark body {
  background-color: #020617;  /* slate-950 */
  color: #e2e8f0;             /* slate-200 */
}

* {
  box-sizing: border-box;
}

::selection {
  background: #14b8a6;
  color: white;
}